body{
    text-align: center;
}
header{
    background-color: black;
    padding: 10px;
}
header h2{
    color: aliceblue;
}
nav ul li{
    display: inline;
    padding: 10px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(222, 135, 186);
}
#Home img{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    background-color: #6caae4;
}
#Home p{
    word-spacing: 10px;
    background-color: cornsilk;
}
#PortFolio{
    background-color: hsl(222, 17%, 74%);
    padding: 10px;
}
li{
    display: inline;
    padding: 10px;
}
footer{
    background-color: black;
    padding: 20px;
}
footer p{
    color: aliceblue;
}
#Bio pre{
    line-height:20px;
    word-spacing: 5px;
    background-color: rgb(225, 165, 122);
}

